<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>掲示板アプリケーション</h1>
<form action="bbs.html" th:action="@{/bbs/insert}" method="post">
投稿者：<input type="text" name="name"><br>
投稿内容：<input type="text" name="content"><br>
<button>記事投稿</button>
</form>
<div th:each="article:${articleList}">
<hr>
投稿ID:<span th:text="${article.id}">dummy</span><br>
投稿者名:<span th:text="${article.name}">dummy</span><br>
投稿内容:<span th:text="${article.content}">dummy</span><br>
</div>
</body>
</html>